DirectoryIndex index.php

Options -Indexes
Options -Includes
Options +FollowSymLinks

RewriteEngine ON

php_flag display_startup_errors ON
php_flag display_errors ON

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+[*/]+)$ index.php?app=$1 [L,QSA]

ErrorDocument 401 autheticate.php
ErrorDocument 403 forbiden.php
ErrorDocument 404 notfound.php